.App {
  margin: 10px auto;
  width: 70%;  
  display: grid;
  grid-template-areas:
    "a a a"
    "c b b";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}

.header{
  grid-area: a;  
  background-color: chocolate;
}

.component{
  grid-area: b;
  background-color: coral;
}

.nav{
  grid-area: c;
  background-color: coral;
  padding: 10px;
}